S8DS.xcodeproj/xcuserdata
S8DS.xcodeproj/project.xcworkspace/xcuserdata
contents.xcworkspacedata
build
compile_commands.json
*.elf
*.nds
*.zip
*.gg
*.rom
*.sms
*.ic21
*.sg
*.sav
include/ac
include/col
include/mt
include/PV-2000
include/sc
include/saves
